{erl_opts, [{parse_transform, lager_transform}]}.
{plugins, [rebar3_appup_plugin]}.
{deps, [{lager, ".*", {git, "https://github.com/erlang-lager/lager", {branch, "master"}}}
  ,{mysql_poolboy, ".*", {git, "https://github.com/mysql-otp/mysql-otp-poolboy", {branch, "master"}}}
  ,{protobuffs, ".*", {git, "https://github.com/basho/erlang_protobuffs.git", {branch, "master"}}}
  ,{cowboy, ".*", {git, "https://github.com/extend/cowboy.git", {branch, "master"}}}
  ,{luerl, ".*", {git, "https://github.com/rvirding/luerl", {branch, "master"}}}
  ,{mochiweb,".*",{git,"https://github.com/mochi/mochiweb",{branch, "master"}}}

]}.

{relx, [{release, { sanguo, "0.1.0" },
  [sanguo,
    sasl]},

  {sys_config, "./config/sys.config"},
  {vm_args, "./config/vm.args"},

  {dev_mode, true},
  {include_erts, true},

  {extended_start_script, true},
  {generate_start_script, true},
  {overlay, [{copy, "./config/sanguo.config", "config/sanguo.config"}]}
]
}.

{profiles, [{prod, [{relx, [{dev_mode, false},
  {include_erts, true}]}]
}]
}.
{provider_hooks, [
  {pre, [{tar, {appup, tar}}]},
  {post, [{compile, {appup, compile}},
    {clean, {appup, clean}}]}
]}.
